/* Home Page (Index) */
.logo img{
	width: 20%;
}

#product-box{
	display: grid;
	grid-template-columns: auto auto;
}

.product-item img{
	width: 20%;
}

/* Navigation Bar */
nav ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}